/POS_PrintingServer/POS_PrintingServer_WebAPI/bin
/POS_PrintingServer/POS_PrintingServer_API/bin
/POS_PrintingServer/POS_PrintingServer_WebAPI/obj
/POS_PrintingServer/POS_PrintingServer_API/obj
POS_PrintingServer/POS_PrintingServer_API/obj/
